* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --background: #1a1a1a;
    --background-dark: #181818;
    --background-darker: #111111;
    --foreground: #1bbe4c;
    --accent: #3ae724;
    --text-color: white;

    color: var(--text-color);
}

html {
    font-size: 16px;
}

nav {
    display: flex;

    height: 50px;
    background: var(--background-dark);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;

    background-color: var(--background);
    width: 75%;
    max-width: 1000px;
    min-height: calc(100vh - 50px);
    margin: auto;
    overflow: hidden;
    padding: 20px;
    font-size: 20px;
    line-height: 2rem;
}

body {
    background-color: var(--background-darker);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--foreground);
}

.logo:hover {
    color: var(--accent);
    text-decoration: none;
}

.logo>span {
    transition-duration: 0.2s;
}

.logo:hover>span {
    background-color: var(--accent);
}

.navbar-list-element {
    padding: 10px;
}

/*Projects*/

.project-container,
.project-info-container {
    display: grid;
    grid-template-columns: auto auto minmax(min-content, 1fr);
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        'image title title'
        'image description description'
        'image tags date';
    margin: 10px;
}

.project-info-container {
    grid-template-columns: auto minmax(min-content, 1fr) min-content;
    grid-template-areas:
        'image title title'
        'image description description'
        'image tags date'
        'links links date';
}

.project-image {
    grid-area: image;
    image-rendering: pixelated;
    margin-right: 10px;
    width: 125px;
    height: 125px;
}

.project-info-container>.project-image {
    width: 150px;
    height: 150px;
}

.project-title {
    grid-area: title;
    padding-bottom: 5px;
    overflow: auto;
}

.project-description {
    grid-area: description;
    overflow: auto;
}

.project-tags {
    grid-area: tags;
    max-height: 98px;
    overflow: auto;
}

.project-date {
    grid-area: date;
    margin-top: auto;
    text-align: right;
    padding-right: 5px;
}

.project-links {
    grid-area: links;
    max-height: 98px;
    overflow: auto;
}

.project-container:hover .project-title {
    color: var(--accent);
    text-decoration: underline;
    transition-duration: 0.2s;
}

.project-container:hover {
    background-color: var(--background-dark);
    text-decoration: none;
    padding: 5px;
}

/*Text*/

.divider {
    background-color: var(--foreground);
    color: var(--background);
    padding: 10px;
    margin: 5px 0;
    font-size: 2rem;
    overflow: auto;
    text-align: center;
    font-weight: bold;
}

.highlight {
    color: var(--background);
    background-color: var(--foreground);
    font-weight: bold;
    padding: 0.25rem;
}

.light-highlight {
    color: var(--foreground);
}

.obfuscated {
    font-family: monospace;
    white-space: nowrap;
    color: var(--foreground);
}

.comment,
footer,
.project-date {
    color: gray;
    font-style: italic;
    font-weight: lighter;
    margin-right: 0;
}

.tag {
    --main-color: var(--accent);
    --base-color: var(--hover-color, var(--main-color));
    display: inline-block;
    color: var(--base-color);
    background-color: color-mix(in srgb, var(--base-color) 30%, rgba(0, 0, 0, 1));
    line-height: 23px;
    border-radius: 5px;
    padding: 2px 10px;
    transition-duration: 0.2s;
    white-space: nowrap;
}

.tag i {
    transition-duration: 0.2s;
    color: var(--base-color);
}

.wavy span {
    display: inline-block;
}

h1 {
    font-size: 2rem;
    color: var(--foreground);
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    color: var(--foreground);
}

footer {
    margin-top: auto;
    text-align: center;
    margin-bottom: -15px;
}

hr {
    color: var(--foreground)
}

/*Links*/
a {
    color: var(--foreground);
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
}

a:hover>.tag {
    --hover-color: var(--accent);
}

/*Proper scaling*/
@media (max-width: 1000px) {
    main {
        width: 100%;
        padding: 1rem;
        border-radius: 0;
    }

    .project-container {
        grid-template-columns: 110px;
    }

    .project-image {
        width: 100px;
        height: 100px;
    }

    .logo {
        white-space: nowrap;
    }

    .project-tags, .project-links {
        max-height: 64px;
    }
}

@media (max-width: 500px) {
    .project-tags {
        display: none;
    }

    .project-info-container {
    grid-template-areas:
        'image title title'
        'image description description'
        'image date date'
        'links links links';
    }
}